@charset "UTF-8";


/*
    CORE SELECTORS
*/
:root {
        --palette-primary:    hsl(258, 51%, 32%);
        --palette-secondary:  hsl(258, 51%, 65%);
        --palette-accent:     hsl(133, 70%, 45%);
        --palette-background: hsl(210, 8%, 5%);
        --palette-outlines:   hsl(0, 0%, 15%);
        --palette-headers:    hsl(210, 8%, 95%);
        --palette-text:       hsl(0, 1%, 80%);

        --palette-background-transparent: hsla(210, 8%, 5%, 0.7);
        --palette-outlines-transparent:   hsla(0, 0%, 15%, 0.7);
}

@media (prefers-color-scheme: light) {
    :root {
        --palette-primary:    hsl(258, 51%, 65%);
        --palette-secondary:  hsl(258, 51%, 32%);
        --palette-background: hsl(210, 8%, 95%);
        --palette-outlines:   hsl(0, 1%, 85%);
        --palette-headers:    hsl(0, 0%, 5%);
        --palette-text:       hsl(210, 8%, 15%);

        --palette-background-transparent: hsla(210, 8%, 95%, 0.7);
        --palette-outlines-transparent:   hsla(0, 1%, 85%, 0.7);
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: max-content;
}

/*
    MAJOR ELEMENTS
*/

body {
    font-family: 'Nunito', sans-serif;
    background-color: var(--palette-background);
    color: var(--palette-text);

    & h1,
    & h2,
    & h3 {
        color: var(--palette-headers);
        font-family: 'Jersey 20', sans-serif;
    }

    & button.action_primary {
        background-color: var(--palette-primary);
        border: 2px solid var(--palette-secondary);
        color: var(--palette-secondary);
    }

    & button.action_secondary {
        background-color: var(--palette-accent);
        border: 2px solid var(--palette-outlines);
        color: var(--palette-outlines);
    }

    & a {
        color: var(--palette-secondary);
        &:hover {
            color: var(--palette-accent);
        }
    }
}

section#contact {
    background-color: var(--palette-outlines);
    border-top: 1vh solid var(--palette-primary);
}




body nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 8vh;
    background-color: var(--palette-primary);
    border-bottom: 3px solid var(--palette-secondary) ;
    z-index: 3;

    & > a {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 100%;
        width: 30%;
        font-size: 2vh;
        border-left: 1px solid var(--palette-secondary);
        border-right: 1px solid var(--palette-secondary);
        &:hover {
            background-color: var(--palette-secondary);
            border-left: 3px solid var(--palette-accent);
            border-right: 3px solid var(--palette-accent);
            width: 40%;
        }
    }
}

body main {
    width: 100%;
    height: fit-content;
}

body main,
body section,
body footer {
    scroll-margin-top: 9vh;
    & > *{
        padding: 1vh 1vw;
    }
}


/*
    CLASSES & OTHER
*/


*.splitport_even {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    & > * {
        max-width: 50%;
    }

    & > *.splitport_weighter {
        min-width: 65%;
    }
}

*:not(section#contact *):has(> span.material-symbols-rounded) {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 5px;
    & > span.material-symbols-rounded {
        font-size: 1.25em;
        margin: 3px;
    }
}

hr.hr_stylised {
    width: 90%;
    height: 1vh;
    justify-self: center;
    background-color: var(--palette-secondary);
    border: none;
    border-radius: 15px;
    padding: 0;
}
hr.hr_cards {
    width: 70%;
    height: 0.7vh;
    margin: 5px 0 0;
    justify-self: left;
    background-color: var(--palette-secondary);
    border: none;
    border-radius: 5px;
}

a:has( > picture.inline_image) {
    display: flex;
    justify-content: left;
    width: fit-content;

    & picture.inline_image
    {
        margin-right: 5px;
        & > * {
            height: 1em;
            width: auto;
        }
    }
}

div.indent {
    padding-left: 5vw;
}